@media screen and (max-width: 280px) {
  .header {
      height: max-content;
  }

  .buttons {
      display: none;

  }
  .navigation{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
  }

  

  .logo {
      left: 16px;
      top: 24px;
  }

  .logo>img {
      height: 49px;
  }

  .navbar {
      display: none;
      position: absolute;
      background-color: #D2E6E4;
      top: -31px;
      left: 0;
      width: 100%;
      height: 54%;
      z-index: 1;
  }

  .navbar a {
      color: #252641;
      display: block;
      text-align: center;
      margin: 20px 0;
  }

  .menu-ico {
      display: block;
      font-size: 45px;
      line-height: 45px;
      color: #252641;
      cursor: pointer;
      float: right;
      position: absolute;
      right: 25px;
      top: 29px;
  }

  .close-ico {
      display: none;
      font-size: 30px;
      position: absolute;
      color: #252641;
      z-index: 1;
      top: 20px;
      right: 20px;
      cursor: pointer;
  }
  .boxex {
      margin-top: 18px;
  }
  .text-box>span{
      font-size: 11px;
  }
  .text-box{
      padding: 3px 26px;
  }
 
  .text-image{
      flex-direction: column;
  }
  .main-text {
      height: fit-content;
      width: 94%;
      right: 0;
      left: 21px;
      top: 158px;
      font-weight: 600;
      font-size: 42px;
  line-height: 54px;
  }

  .explore-path {
      display: flex;
      flex-direction: row;
      left: 112px;
      top: 557px;
      gap: 10px;
  }

  .explore-box {
     width: 50%;
      
  }

  .explore-images {
      height: 36px;
  width: 54%;
  margin-top: 11px;
  }

  .explore-images img {
      height: 88%;
  }
  .star{
      width: max-content;
  }
  .star>img {
      height: 14% !important;
  }
  .star {
      width: 100px;
      margin-left: -67px;
      margin-top: 5px;
  }

  .star>img {
      height: 100%;
  }

  .star>span {
      font-size: 10px;

  }

  .circle {
      display: none;
  }
  .line-box {
      left: 272px;
      top: 507px;
      display: none;
  }



  

  .line-box {
      left: 272px;
      top: 507px;
  }

  .calculator img {
      position: absolute;
      top: 4px;
      left: 6px;
      height: 39px;
  }

  .calculator {
      width: 36px;
      height: 36px;
      top: 4px;
      left: 30px;

  }

  .assisted-students {
      width: 191px;
      height: 44px;
      position: absolute;
      left: 0px;
      top: 205px;
  }

  .text>span:nth-child(1) {
      left: 112px;
      top: 4px;
      font-size: 12px;
  }

  .text>span:nth-child(2) {
      left: 84px;
      top: 19px;
      font-size: 12px;

  }

  .logo > img {
    height: 34px;
  }
 
 
  .explore-box {
    padding-top: 10px;
    padding-left: 13px;
  }
  .explore-box > span {
    font-size: 10px;
  }
  .explore-images img {
    height: 71%;
    display: none;
  }
  .star {
    display: none;
  }
  
  .assisted-students {
    display: none;
  }
  .rule > span {
    top: 4px;
    left: 66px;
    font-size: 8px;
  }
  .student-id-card-pic {
    width: 100% !important;
    height: 187px ! important; 
}
.FAQ_wrapper {
  height: 545px;
  flex-direction: column;
}
  .student-id-card-pic > img {
    height: 152px;
    top: 17px;
    left: 13px;
  }
  .training {
    display: none;
  }
  .FAQ {
    width: 100%;
    height: auto;
    margin-top: 81px;
  }
  
.answers {
  left: 5px;
  top: 230px;
  width: 100%;
}
.ans {
  width: 100%;
  left: 0;
}
  .ans > span {
    top: 6px;
    left: 34px;
    width: 100%;
    font-size: 8px;
  }
  .teacher-image>img {
    height: 139px;
    top: 100px;
}
 
  .categories {
    width: 50%;
  }

  .links {
    grid-area: 1/2;
    margin-left: 0;
    width: 71px;
  }
  .footer {
    height: 763px;
  }
  .up-to-date-email {
    width: 217px;
  }
  .up-to-date-email > img {
    height: 77px;
  }
  body {
      margin: 0;
      padding: 0;

  }

  .header {
      height: max-content;
  }

  .buttons {
      display: none;

  }
  .navigation{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
  }
  .categories-links {
    display: grid;
    grid-template-columns: 148px 67px;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
    left: 0;
}
  .title {
    margin-left: -6px;
     font-size: 26px;
  }

  .logo {
      left: 16px;
      top: 24px;
  }

  .logo>img {
      height: 49px;
  }

  .navbar {
      display: none;
      position: absolute;
      background-color: #D2E6E4;
      top: -31px;
      left: 0;
      width: 100%;
      height: 54%;
      z-index: 1;
  }

  .navbar a {
      color: #252641;
      display: block;
      text-align: center;
      margin: 20px 0;
  }

  .menu-ico {
      display: block;
      font-size: 45px;
      line-height: 45px;
      color: #252641;
      cursor: pointer;
      float: right;
      position: absolute;
      right: 25px;
      top: 29px;
  }

  .close-ico {
      display: none;
      font-size: 30px;
      position: absolute;
      color: #252641;
      z-index: 1;
      top: 20px;
      right: 20px;
      cursor: pointer;
  }
  .boxex {
      margin-top: 18px;
  }
  .text-box>span{
      font-size: 11px;
  }
  .text-box{
      padding: 3px 26px;
  }
 
  .text-image{
      flex-direction: column;
  }
  .main-text {
      height: fit-content;
      width: 94%;
      right: 0;
      left: 21px;
      top: 158px;
      font-weight: 600;
      font-size: 42px;
  line-height: 54px;
  }

  .explore-path {
      display: flex;
      flex-direction: row;
      left: 112px;
      top: 557px;
      gap: 10px;
  }

  .explore-box {
     width: 50%;
      
  }

  .explore-images {
      height: 36px;
  width: 54%;
  margin-top: 11px;
  }

  .explore-images img {
      height: 88%;
  }
  .star{
      width: max-content;
  }
  .star>img {
      height: 14% !important;
  }
  .star {
      width: 100px;
      margin-left: -67px;
      margin-top: 5px;
  }

  .star>img {
      height: 100%;
  }

  .star>span {
      font-size: 10px;

  }

  .circle {
      display: none;
  }

  .image {
      margin-top: -34px;
      width: 85%;
      position: relative;
      
  }

  .image img {
    height: 205px;
}

  .line-box {
      left: 272px;
      top: 507px;
  }

  .calculator img {
      position: absolute;
      top: 4px;
      left: 6px;
      height: 39px;
  }

  .calculator {
      width: 36px;
      height: 36px;
      top: 4px;
      left: 30px;

  }

  .assisted-students {
      width: 191px;
      height: 44px;
      position: absolute;
      left: 0px;
      top: 205px;
  }

  .text>span:nth-child(1) {
      left: 112px;
      top: 4px;
      font-size: 12px;
  }

  .text>span:nth-child(2) {
      left: 84px;
      top: 19px;
      font-size: 12px;

  }

  .courses {
      position: relative;
      top: 0px;

  }

  .programms {

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;
  }

  .course-cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 80px;
  }

  .courses-category {
      top: 17px;
  }

  .main-title-text {
      text-align: center;
  }

  .main-title-text>span {
      display: block;
      width: 95%;
      margin: 0 auto;
  }

  .card-category {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .programm {
      margin: 0 auto;
  }

  .student_id_wrappper {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;

  }

  .student_id_wrappper-card-text {
      margin: 0 auto;
      width: 85%;
  }

  .student_id_wrappper-card-pic>img {
      height: 183px;
      position: absolute;
      top: 27px;
      left: 38px;
  }

  .student_id_wrappper-card-pic {
      position: relative;
      width: 309px;
      height: 232px;
      background: rgba(210, 230, 228, 1);
      top: 37px;
      left: 31px;
      border-radius: 20px;
  }

  .student_id_wrappper {
      margin-top: 76px;
  }


  .training-text {
      height: fit-content;
      width: 86%;
      order: 1;
      margin: 0 auto;
  }

  .training-pic>img {
      height: 205px;
      position: absolute;
      top: 3px;
      left: 4px;
  }

  .training-pic {
      position: relative;
      width: 310px;
      height: 280px;
      order: 2;
  }

  .student-id-card-text {
      width: 101%;
  }

  .taining_wrapper {
      display: flex;
      flex-direction: column;
  }

  .training-text {
      width: 100%;
  }

  .question {
      position: relative;
      height: 100%;
      width: 100%;
  }

 

  .ans>span {
    top: 2px;
    left: 32px;
    width: auto;
    font-size: 8px;
}



  .question>h2 {
    font-size: 37px;
    line-height: 46.8px;
    left: 8px;
  }

  .teacher-image {
      height: 100%;
      width: 100%;
  }
  
.bundles-image {
  margin-top: 30px;
}
.bundles-image>img{
  height: 100%;
  width: 100%;
}
.small-container {
  margin: 0 auto;
  padding: 3px 10px;
}
.footer{
  height: 738px;
}
.footer-wrapper {
  flex-direction: column;
}

.line-box {
  display: none;
}



.categories {
  grid-area: 1/1;
}

.links {
  grid-area: 1/2;
  margin-left: -52px;
  width: 65px;
  left: 0;
}

.up-to-date-email {
 grid-area: 2/1;
 height: 75%;
}

.information{
  margin-bottom: 29px;
}
.info{
  top: 60px;
}

.title-desc>span{
  font-size: 20px;
}
.student-id-card-pic{
  width: 313px;
}
.student-id-card-pic>img{
  left: 14px;
}
}


